In [30]:
import pandas as pd

data = {
    'imie': ['Anna', 'Damian', 'Bartek', 'Kasia'],
    'Wiek': [22, 33, 18, 21],
    'Miejsce zamieszkania': ['Gdańsk', 'Gdańsk', 'Olsztyn', 'Ełk']
}
df = pd.DataFrame(data)
print(df)

print()

print("*osoby powyżej 21 roku życia*")
df_filtr = df[df['Wiek'] > 21]
print(df_filtr)

print()

print("*od najniższego do najwyższego wieku życia*")
df_sort = df.sort_values(by = 'Wiek')
print(df_sort)

print()

print("średnia wieku: ")
mean_age = df['Wiek'].mean()
print(mean_age)

print()

print("*średni wiek ludzi z danego miasta*")
mean_city_age = df.groupby('Miejsce zamieszkania')['Wiek'].mean()
print(mean_city_age)

     imie  Wiek Miejsce zamieszkania
0    Anna    22               Gdańsk
1  Damian    33               Gdańsk
2  Bartek    18              Olsztyn
3   Kasia    21                  Ełk

*osoby powyżej 21 roku życia*
     imie  Wiek Miejsce zamieszkania
0    Anna    22               Gdańsk
1  Damian    33               Gdańsk

*od najniższego do najwyższego wieku życia*
     imie  Wiek Miejsce zamieszkania
2  Bartek    18              Olsztyn
3   Kasia    21                  Ełk
0    Anna    22               Gdańsk
1  Damian    33               Gdańsk

średnia wieku:
23.5

*średni wiek ludzi z danego miasta*
Miejsce zamieszkania
Ełk        21.0
Gdańsk     27.5
Olsztyn    18.0
Name: Wiek, dtype: float64